.feedback{
  background-color: $lightPink;
  padding: 50px 0;

  &__title{
    margin-bottom: 50px;
    text-align: center;
  }

  &__form{
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media(max-width:1050px) {
      flex-direction: column;
      flex-wrap: wrap;
    }

    @media(min-width: 767px) and (max-width: 1050px) {
      width: 70%;
      margin: 0 auto;
    }
  }

  &__input{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: transparent;
    outline: none;
    width: 100%;
    margin-bottom: 10px;

    &::placeholder{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
    }

    @media(min-width: 1050px) {
      width: 25%;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}