.portfolio{
  padding: 40px 0;

  &__title{
    margin-bottom: 50px;
    text-align: center;
  }

  @media(min-width: 1050px){
    padding: 100px;
  }
  
  @media(min-width: 500px) and (max-width: 1049px){
    padding: 50px 0;
  }
}

.slider{
  height: 300px;
  width: 90%;
  margin: 0 auto;

  @media(min-width: 767px){
    height: 550px;
    width: 100%;
  }

  @media(min-width: 580px) and (max-width: 766px){
    height: 400px;
  }
}

.swiper.mySwiper {
  width: 100%;
  height: 100%;
}
                
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active{
  background-color: $pink !important;
}