@media(min-width: 991px){
  .phone{
    display: block;
  }
}

@media (min-width: 1230px) {
  .container {
    width: 1190px;
	}
}
@media (min-width: 1050px) and (max-width: 1229px) {
	 .container {
		 width: 800px;
	}
}
 @media (min-width: 900px) and (max-width: 1049px) {
	 .container {
		 width: 800px;
	}
}
 @media (min-width: 767px) and (max-width: 899px) {
	 .container {
		 width: 700px;
	}
}
 @media (min-width: 580px) and (max-width: 766px) {
	 .container {
		 width: 550px;
	}
}
 @media (min-width: 500px) and (max-width: 579px) {
	 .container {
		 width: 450px;
	}
}
 @media (min-width: 430px) and (max-width: 499px) {
	 .container {
		 width: 400px;
	}
}

@media (min-width: 1230px) {
	 .container-content {
		 width: 1090px;
	}
}
 @media (min-width: 1050px) and (max-width: 1229px) {
	 .container-content {
		 width: 900px;
	}
}
 @media (min-width: 900px) and (max-width: 1049px) {
	 .container-content {
		 width: 750px;
	}
}
 @media (min-width: 767px) and (max-width: 899px) {
	 .container-content {
		 width: 600px;
	}
}
 @media (min-width: 580px) and (max-width: 766px) {
	 .container-content {
		 width: 450px;
	}
}
 @media (min-width: 500px) and (max-width: 579px) {
	 .container-content {
		 width: 400px;
	}
}
 @media (min-width: 430px) and (max-width: 499px) {
	 .container-content {
		 width: 350px;
	}
}

@media (min-width: 767px) {
	 .title {
		 font-size: 37px;
	}
}
 @media (min-width: 430px) and (max-width: 766px) {
	 .title {
		 font-size: 33px;
	}
}

@media (max-width: 767px) {
	 .title-3 {
		 font-size: 36px;
	}
}
 @media (min-width: 500px) {
	 .title-3 {
		 margin-bottom: 0;
	}
}

@media (min-width: 991px) {
	 .header-inner .header__list {
		 display: flex;
	}
}

@media (min-width: 1230px) {
	 .list__item {
		 padding: 10px;
	}
}

 @media (min-width: 1050px) {
	 .desktop-inner {
    flex-direction: row;
	}
}

@media (min-width: 500px) {
	 .desktop__box__image {
		 width: 60%;
	}
}

 @media (min-width: 1050px) {
	 .desktop__box_left {
		 margin-bottom: 0;
	}
}

@media (min-width: 900px) {
	 .desktop__box_right {
		 height: 450px;
	}
}
 @media (min-width: 580px) and (max-width: 899px) {
	 .desktop__box_right {
		 height: 450px;
	}
}
 @media (min-width: 500px) and (max-width: 579px) {
	 .desktop__box_right {
		 height: 300px;
	}
}
 @media (min-width: 1050px) {
	 .desktop__box {
		 width: 50%;
	}
}

 @media (min-width: 580px) {
	 .desktop__title {
		 width: 100%;
	}
}

@media (min-width: 1050px) {
	 .desktop {
		 padding: 150px 0;
	}
}
 @media (min-width: 580px) {
	 .desktop {
		 padding: 100px;
	}
}
 @media (min-width: 1050px) {
	 .about-inner {
		 flex-direction: row;
	}
}

@media (min-width: 1050px) {
	 .about__box_right {
		 width: 60%;
		 margin-bottom: 0;
		 order: 1;
	}
}

 @media (min-width: 1050px) {
	 .about__box_left {
		 order: 0;
		 width: 40%;
	}
}

 @media (min-width: 1050px) {
	 .about__box__image {
		 width: 80%;
	}
}
 @media (min-width: 500px) and (max-width: 1049px) {
	 .about__box__image {
		 width: 60%;
	}
}

@media (max-width: 1050px) {
	 .about__descr {
		 justify-content: left;
	}
}

 @media (min-width: 1050px) {
	 .about__descr__arrow {
		 order: 0;
		 transform: rotate(180deg);
	}
}
 @media (max-width: 1050px) {
	 .about__descr__text {
		 order: 0;
	}
}
 @media (max-width: 1050px) {
	 .about {
		 padding: 50px 0;
	}
}
 @media (max-width: 500px) {
	 .about {
		 padding: 40px 0;
	}
}
 @media (max-width: 1050px) {
	 .btn-popup {
		 display: flex;
		 justify-content: center;
	}
}

 @media (min-width: 580px) {
	 .swiper-wrapper .services__card__title {
		 font-size: 21px;
	}
}
 @media (min-width: 430px) and (max-width: 579px) {
	 .swiper-wrapper .services__card__title {
		 font-size: 19px;
	}
}

@media (min-width: 1050px) {
	 .swiper-wrapper .services__card-wrapper {
		 flex-direction: column;
	}
}

@media (min-width: 1024px) {
	 .swiper-wrapper .services__card_1, .swiper-wrapper .services__card_2, .swiper-wrapper .services__card_3 {
		 background-position: 0 0;
	}
}
 @media (min-width: 580px) and (max-width: 1023px) {
	 .swiper-wrapper .services__card_1, .swiper-wrapper .services__card_2, .swiper-wrapper .services__card_3 {
		 background-position: bottom 73px center;
	}
}

@media (min-width: 1050px) {
	 .swiper-wrapper .services__card_1 {
		 margin-bottom: 0;
	}
}

 @media (min-width: 580px) {
	 .swiper-wrapper .services__card__btn {
		 padding: 12px 30px;
	}
}
 @media (min-width: 767px) {
	 .swiper-wrapper .services__card {
		 padding: 10px;
	}
}
 @media (min-width: 430px) and (max-width: 766px) {
	 .swiper-wrapper .services__card {
		 width: 100%;
		 padding: 8px 10px;
	}
}
 @media (min-width: 1050px) {
	 .services {
		 padding: 100px 0;
	}
}
 @media (min-width: 500px) and (max-width: 1049px) {
	 .services {
		 padding: 50px 0;
	}
}

@media (min-width: 1231px) {
	 .services-swiper {
		 overflow: visible;
	}
}
 @media (min-width: 1024px) {
	 .services-swiper {
		 width: 100%;
	}
}
 @media (min-width: 1024px) and (max-width: 1230px) {
	 .services-swiper {
		 overflow: hidden;
	}
}
 @media (min-width: 767px) and (max-width: 1023px) {
	 .services-swiper {
		 width: 70%;
	}
}

@media (min-width: 1050px) {
	 .portfolio {
		 padding: 100px;
	}
}
 @media (min-width: 500px) and (max-width: 1049px) {
	 .portfolio {
		 padding: 50px 0;
	}
}

@media (min-width: 767px) {
	 .slider {
		 height: 550px;
		 width: 100%;
	}
}
 @media (min-width: 580px) and (max-width: 766px) {
	 .slider {
		 height: 400px;
	}
}

@media (min-width: 1100px) {
	 .instruments__title {
		 width: 70%;
	}
}
 @media (min-width: 500px) and (max-width: 1099px) {
	 .instruments__title {
		 width: 90%;
	}
}

@media (min-width: 1050px) {
	 .instruments__box-wrapper {
		 flex-direction: row;
		 align-items: normal;
	}
}

@media (min-width: 1050px) {
	 .instruments__box:last-child {
		 margin-bottom: 30px;
	}
}
 @media (min-width: 1050px) {
	 .instruments__box {
		 width: 30%;
	}
}
 @media (min-width: 580px) and (max-width: 1049px) {
	 .instruments__box {
		 width: 70%;
		 margin-bottom: 50px;
	}
}
 @media (min-width: 1050px) {
	 .instruments {
		 padding: 100px 0;
	}
}
 @media (min-width: 500px) and (max-width: 1049px) {
	 .instruments {
		 padding: 50px 0;
	}
}

@media (max-width: 1024px) {
	 .instruments-swiper {
		 overflow: hidden;
	}
}
 @media (max-width: 767px) {
	 .instruments-swiper {
		 width: 70%;
	}
}