/*vars*/
/* $pink: rgb(247, 202, 231); */
/* $lightPink: hsl(321, 74%, 97%); */
/* $primaryColor: #363636; */


/*fonts*/
@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icons/icomoon.eot?4s0lb');
  src:  url('./fonts/icons/icomoon.eot?4s0lb#iefix') format('embedded-opentype'),
    url('./fonts/icons/icomoon.ttf?4s0lb') format('truetype'),
    url('./fonts/icons/icomoon.woff?4s0lb') format('woff'),
    url('./fonts/icons/icomoon.svg?4s0lb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
  margin-right: 10px;
  color: rgb(247, 202, 231);
}

/*defaults*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 350px;
  margin: 0 auto;
}

.container-content{
  width: 320px;
}

.title,
.title-3{
  color: #363636;
  font-family: 'Golos Text';
  font-size: 30px;
  font-weight: 400;
}

.title{
  line-height: 123%;
}

.title-3{
  line-height: 130%;
  margin-bottom: 30px;
}



.btn{
  border: 3px solid rgb(247, 202, 231);
  border-radius: 8px;
  padding: 10px 30px;
  display: inline-block;
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 1.62;
  font-weight: 400;
  color: #000;
  transition: .3s;
}

.btn:hover{
  background-color: rgb(247, 202, 231);
  color: #fff;
}

.btn-3{
  background-color: rgb(247, 202, 231);
  color: #fff;
  cursor: pointer;
}

.btn-3:hover{
  color: #000;
  background-color: #fff;
}

/*phone*/
.phone{
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 162%;
  font-weight: 400;
  color: rgb(247, 202, 231);
  display: none;
}

/*header*/
.header {
	 padding: 20px 0;
}
 .header-inner {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .header-inner .header__list {
	 display: none;
}
 
.header__logo {
	 transition: 0.3s;
	 width: 100%;
	 height: 100%;
	 margin-bottom: 15px;
}
 .header__logo-link {
	 width: 132px;
	 display: block;
}
 .header__link {
	 transition: 0.3s;
}
 .header__link:hover {
	 color: #f7cae7;
}
 .list {
	 display: flex;
	 justify-content: space-between;
	 padding: 10px;
}
 .list__item {
	 list-style: none;
	 padding: 0 30px;
}
 .list__item:first-child {
	 padding-left: 0;
}
 .list__item:last-child {
	 padding-right: 0;
}

 .list__link {
	 font-family: 'Nunito';
	 font-size: 18px;
	 line-height: 162%;
	 font-weight: 400;
	 color: rgba(54, 54, 54, 1);
}
 


/*desktop*/
 .desktop {
	 padding: 40px 0;
}
 .desktop-inner {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 flex-direction: column;
}

 .desktop__box {
	 width: 100%;
}
 .desktop__box__image {
	 width: 100%;
	 border-radius: 8px;
}
 
 .desktop__box_left {
	 margin-bottom: 50px;
}

 .desktop__box_right {
	 display: flex;
	 justify-content: center;
	 height: auto;
}
 
 .desktop__title {
	 display: flex;
	 flex-direction: column;
	 border-bottom: 3px solid #f7cae7;
	 padding-bottom: 15px;
	 margin-bottom: 20px;
	 width: auto;
}
 .desktop__title__box_name {
	 color: #f7cae7;
}

 .desktop__info {
	 font-family: 'Roboto';
	 font-size: 18px;
	 line-height: 155%;
	 font-weight: 400;
	 color: #363636;
	 margin-bottom: 30px;
}
 

/*about*/
.about {
	 background: #fdf2f9;
	 padding: 100px 0;
}
 .about-inner {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 overflow: hidden;
	 flex-direction: column;
}

 .about__box {
	 width: 100%;
}
 .about__box_right {
	 width: 100%;
	 margin-bottom: 50px;
	 order: 0;
}
 
 .about__box_left {
	 width: 100%;
	 display: flex;
	 align-items: center;
	 order: 1;
}

 .about__box__image {
	 width: 100%;
	 cursor: pointer;
	 transition: 0.3s;
	 border-radius: 8px;
}

 .about__title {
	 margin-bottom: 30px;
}
 .about__list {
	 padding-left: 20px;
}
 .about__list__item {
	 list-style: disc;
	 font-family: 'Nunito';
	 font-size: 18px;
	 line-height: 162%;
}
 .about__list__item::marker {
	 color: #f7cae7;
}
 .about__descr {
	 font-family: 'Nunito';
	 font-size: 18px;
	 font-weight: 700;
	 line-height: 162%;
	 display: flex;
	 justify-content: center;
	 color: #f7cae7;
}
 
 .about__descr__arrow {
	 display: block;
	 margin-right: 10px;
	 order: 1;
	 transform: rotate(90deg);
}

 

/*services*/

.services {
	 padding: 40px 0;
	 background-color: #fff6f7;
}
 .services__title {
	 margin-bottom: 50px;
	 text-align: center;
}
 .swiper-wrapper .services__card {
	 width: 32%;
	 height: 450px;
	 border-radius: 8px;
	 transition: all 0.5s ease-out;
	 cursor: pointer;
	 padding: 8px 10px;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
}
 .swiper-wrapper .services__card__info {
	 background-color: #fff;
	 padding: inherit;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 border-top-left-radius: 8px;
	 border-top-right-radius: 8px;
}
 .swiper-wrapper .services__card__title {
	 font-family: 'Golos Text';
	 font-weight: 400;
	 font-size: 20px;
	 line-height: 145%;
	 margin-bottom: 10px;
}

 .swiper-wrapper .services__card:hover {
	 box-shadow: 5px 3px 3px #f7cae7;
}
 .swiper-wrapper .services__card-wrapper {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 
 .swiper-wrapper .services__card_1, .swiper-wrapper .services__card_2, .swiper-wrapper .services__card_3 {
	 background-repeat: no-repeat;
	 background-size: contain;
	 background-position: bottom 112px center;
}
 
 .swiper-wrapper .services__card_1 {
	 background-image: url('./../images/1.jpg');
	 margin-bottom: 30px;
}
 
 .swiper-wrapper .services__card_2 {
	 background-image: url('./../images/2.jpg');
}
 .swiper-wrapper .services__card_3 {
	 background-image: url('./../images/3.jpg');
}
 .swiper-wrapper .services__card__price {
	 font-family: 'Nunito';
	 font-size: 18px;
	 line-height: 162%;
}
 .swiper-wrapper .services__card__btn {
	 background-color: #f7cae7;
	 width: 100%;
	 border-bottom-left-radius: 8px;
	 border-bottom-right-radius: 8px;
	 text-align: center;
	 color: #fff;
	 padding: 9px 25px;
	 font-family: 'Nunito';
	 font-size: 18px;
	 line-height: 155%;
	 font-weight: 400;
	 transition: 0.3s;
}
 .swiper-wrapper .services__card__btn:hover {
	 color: #000;
}

 .services-swiper {
	 margin: 0 auto;
	 width: 100%;
	 overflow: hidden;
}
 .services-swiper-wrapper {
	 display: flex;
	 justify-content: space-between;
}
 .services-swiper-pagination {
	 text-align: center;
}
 

/*portfolio*/
.portfolio {
	 padding: 40px 0;
}
 .portfolio__title {
	 margin-bottom: 50px;
	 text-align: center;
}
 
 .slider {
	 height: 300px;
	 width: 90%;
	 margin: 0 auto;
}
 
 .swiper.mySwiper {
	 width: 100%;
	 height: 100%;
}
 .swiper-slide {
	 text-align: center;
	 font-size: 18px;
	 background: #fff;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 cursor: grab;
}
 .swiper-slide img {
	 display: block;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .swiper-pagination-bullet-active {
	 background-color: #f7cae7 !important;
}

/*instruments*/

.instruments {
	 padding: 40px 0;
	 background-color: #fffcfc;
}
 .instruments__title {
	 text-align: center;
	 width: 100%;
	 font-size: 25px;
	 margin: 0 auto 30px auto;
}
 .instruments__box {
	 width: 100%;
	 margin-bottom: 50px;
}
 .instruments__box:last-child {
	 margin-bottom: 0;
}
 .instruments__box-wrapper {
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
	 align-items: center;
}
 
 .instruments__box__image {
	 width: 100%;
	 border-radius: 8px;
}
 .instruments__box__image-wrapper {
	 width: 100%;
	 margin-bottom: 30px;
}
 .instruments__box__title {
	 font-family: 'Golos Text';
	 font-weight: 700;
	 font-size: 22px;
	 line-height: 24px;
	 margin-bottom: 10px;
	 color: #363636;
	 text-align: center;
}
 .instruments__box__info {
	 font-family: 'Roboto';
	 font-size: 18px;
	 line-height: 155%;
	 font-weight: 400;
	 text-align: center;
}
 .instruments__box:last-child {
	 margin-bottom: 0;
}
 
 .instruments-swiper {
	 width: 100%;
	 margin: 0 auto;
}
 
 .instruments-swiper-wrapper {
	 display: flex;
	 justify-content: space-between;
}
 
 